/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 1px; margin-right: 1px; Margin-top: 1px; margin-bottom: 1px;}
    .row                                        { margin-bottom: 20px; }
	#mobilealbum { width:100px; height:85px;}

	.scrollable {
	/* required settings */
	position:relative;
	overflow:hidden;
	width: 412px;
	height:90px;
	}

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 70px;  }
    .container .two.columns                     { width: 153px; }
    .container .three.columns                   { width: 230px; }
    .container .four.columns                    { width: 310px; }
    .container .five.columns                    { width: 390px; }
    .container .six.columns                     { width: 470px; }
    .container .seven.columns                   { width: 540px; }
    .container .eight.columns                   { width: 630px; }
    .container .nine.columns                    { width: 710px; }
    .container .ten.columns                     { width: 790px; }
    .container .eleven.columns                  { width: 870px; }
    .container .twelve.columns                  { width: 950px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 600px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 80px;  }
    .container .offset-by-two                   { padding-left: 160px; }
    .container .offset-by-three                 { padding-left: 240px; }
    .container .offset-by-four                  { padding-left: 320px; }
    .container .offset-by-five                  { padding-left: 400px; }
    .container .offset-by-six                   { padding-left: 480px; }
    .container .offset-by-seven                 { padding-left: 560px; }
    .container .offset-by-eight                 { padding-left: 640px; }
    .container .offset-by-nine                  { padding-left: 720px; }
    .container .offset-by-ten                   { padding-left: 800px; }
    .container .offset-by-eleven                { padding-left: 880px; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 2px; margin-right: 1px;  Margin-top: 1px; margin-bottom: 1px;}
        .column.alpha, .columns.alpha               { margin-left: 1px; margin-right: 1px; margin-top: 1px; margin-bottom: 1px; }
        .column.omega, .columns.omega               { margin-right: 1px; margin-left: 1px; margin-top: 1px; margin-bottom: 1px;}
        .alpha.omega                                { margin-left: 1px; margin-right: 1px; margin-top: 1px; margin-bottom: 1px;}

        .container .one.column,
        .container .one.columns                     { width: 54px; }
        .container .two.columns                     { width: 120px; }
        .container .three.columns                   { width: 182px; }
        .container .four.columns                    { width: 246px; }
        .container .five.columns                    { width: 310px; }
        .container .six.columns                     { width: 374px; }
        .container .seven.columns                   { width: 438px; }
        .container .eight.columns                   { width: 502px; }
        .container .nine.columns                    { width: 566px; }
        .container .ten.columns                     { width: 630px; }
        .container .eleven.columns                  { width: 694px; }
        .container .twelve.columns                  { width: 758px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 64px; }
        .container .offset-by-two                   { padding-left: 130px; }
        .container .offset-by-three                 { padding-left: 192px; }
        .container .offset-by-four                  { padding-left: 256px; }
        .container .offset-by-five                  { padding-left: 320px; }
        .container .offset-by-six                   { padding-left: 384px; }
        .container .offset-by-seven                 { padding-left: 448px; }
        .container .offset-by-eight                 { padding-left: 512px; }
        .container .offset-by-nine                  { padding-left: 576px; }
        .container .offset-by-ten                   { padding-left: 640px; }
        .container .offset-by-eleven                { padding-left: 704px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0;  margin-top: 1px; margin-bottom: 1px; margin-left: 1px;}
        h2 { font-size: 22px; line-height: 24px; margin-bottom: 10px; }
		#mobilealbum { width:50px; }
		
		.scrollable {
		/* required settings */
		position:relative;
		overflow:hidden;
		width: 212px;
		height:50px;
}

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 290px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven{ padding-left: 0; }
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px;}
        .container .columns,
        .container .column { margin: 0; margin-top: 1px; margin-bottom: 1px; margin-left: 1px;}
		#mobilealbum { width:75px; }
		
		.scrollable {
		/* required settings */
		position:relative;
		overflow:hidden;
		width: 312px;
		height:60px;
		}

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 410px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
